.footer__nav-item {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  margin-right: 18px;
  display: block;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

@media screen and (max-width:767px) {
  .footer__nav-item {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}