.place {
  display: grid;
  grid-template: auto 1fr / minmax(200px, auto) minmax(200px, auto);
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

@media screen and (max-width:1024px) {
  .place {
    grid-template-columns: minmax(200px, 440px) minmax(200px, auto);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(200px, 340px) minmax(200px, auto);
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    display: flex;
    grid-template: none;
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    row-gap: 32px;
  }
}