.intro__content {
  max-width: 690px;
}

@media screen and (max-width: 928px) {
  .intro__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}